.scroll-none {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}

.scroll-none::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}